@font-face {
  font-family: ArialNarrow;
  src: url(https://cdn.glitch.com/8efdef4b-1039-4425-a778-75aadcafbd8d%2Farial%20narrow.woff?v=1615750199061);
}

@font-face {
  font-family: ArialNarrow;
  src: url(https://cdn.glitch.com/8efdef4b-1039-4425-a778-75aadcafbd8d%2FArial%20Narrow%20Bold.woff?v=1615744753305);
  font-weight: bold;
}

@font-face {
  font-family: ArialNarrow;
  src: url(https://cdn.glitch.com/8efdef4b-1039-4425-a778-75aadcafbd8d%2FArial%20Narrow%20Italic.woff?v=1615744754878);
  font-style: italic;
}

body, html {
  background-color: black;
  font-family: ArialNarrow, sans-serif;
  font-weight: 400;
  margin: 0;
  cursor: crosshair;
}

.slide-wrapper {
        display: grid;
        margin: auto;
        height: calc(var(--vh, 1vh) * 100);
        text-align: center;
        grid-template-columns: auto 1fr auto;
      }
      
.photos {
  margin: auto;
  height: 60vh;
}

.next, .prev {
  margin: auto;
  cursor: pointer;
}

.next_hidden, .prev_hidden {
  margin: auto;
  opacity: 0%;
}

.prev {
  transform: rotate(180deg);
  margin-left: 25px;
}

.next {
  margin-right: 25px;
}

.next > img, .prev > img {
  width: 40%;
}
        
.names-1 {
  font-size: 1.5vw;
  color: white;
  margin: auto;
  margin-bottom: 1%;
  margin-left: 1%;
  display: block;
}
        
#stacked-logo-a-static-1 {
    margin: auto;
    width: 0%;
    margin-top: 1%;
    margin-left: 1%;
    text-align: center;
}

.horizontal-logo-container, .subtitle-container, .dot-container, .stacked-logo-container, .background-color-container, .nav-bar-contianer, .tape-container, .names-popup-container  {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: calc(var(--vh, 1vh) * 100);
}

.subtitle-container, .dot-container, .stacked-logo-container, .background-color-container, .tape-container, .names-popup-container{
  margin-top: -100vh;
}

.thumb {
  display: none;
  position: absolute;
  width: 60vh;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}

.thumb-container {
  position: fixed;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  top: 0;
  z-index: -2;
}

#lpscroll {;
  animation: lps 0.05s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes lps {
  to {
      top: -150px;
    }
  }

.names {
  font-size: 4.3vw;
  color: white;
  margin: auto;
  margin-bottom: 1%;
  margin-left: 2%;
  display: none;
}

.names a {
  color:white;
}

.nav-text {
  font-size: 1.5em;
  margin-left: -2%;
  margin-top: 5%;
}

.landing-page-wrapper {
  width: 100vw;
  position: fixed;
}

#location {
  width: 26%;
  margin: auto;
  margin-bottom: 2%;
  margin-left: 2%;
  text-align: center;
}

#seniorshow {
  width: 19%;
  margin: auto;
  margin-bottom: 2%;
  margin-right: 2%;
  text-align: center;
}

#horizontal-logo {
  width: 80%;
  margin: 5px;
  margin-bottom: 25px;
  text-align: center;
  animation-name: subtle-rotation;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-timing-function: ease;
  animation-delay: 1s;
}

@keyframes subtle-rotation {
  0% {transform: rotate(-2deg);}
  25% {transform: rotate(-1deg);}
  75% {transform: rotate(2deg);}
  100% {transform: rotate(-2deg);}
  
}

#nav-bar {
  width: calc(986px / 1.5);
  height: calc(71px / 1.5);
  margin: auto;
  margin-top: 20px;
  background-image: url("https://cdn.glitch.com/8efdef4b-1039-4425-a778-75aadcafbd8d%2Fwebtapestraight.png?v=1615746265709");
  background-position : center center;
  background-repeat: no-repeat;
  background-size: calc(986px / 1.5) calc(71px / 1.5);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav-dot {
  margin: auto;
  margin-top: 35px;
  width: 20px;
  transition: all .25s ease;
}

.nav-dot:nth-of-type(2), .nav-dot:nth-of-type(3) {
  margin-top: calc(-100vh + 35px);
}

.nav-text>a:link, a:visited  {
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
}

.curatorial-statement {
  display: block;
  width: 50vw;
  margin: 0 auto;
  margin-top: 9%;
}

.curatorial-statement p {
  font-size: 1.5em;
  color: white;
  margin: .5em;}

.list-names {
  display: block;
  width: 55vw;
  margin: auto;
   padding-top: 3%;
  margin-top:5%;
    font-size: 3em;
  color: white;
}

.list-names a {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul > li {
  display: inline-block;
}

.name-dot {
  display: none;
  width: .45em;
  height: .45em;
  margin: 0 5px 5px 2px;
  transition: all .25s ease;
}

.fake-scroll-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  
}
.fake-scroll-block {
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

html{
	overflow-y:auto;
	-ms-overflow-style: none;
  croll-behavior: smooth; 
}

html::-webkit-scrollbar {
  display: none;
}

#stacked-logo-a {
  margin: auto;
  width: 15%;
  margin-top: 1%;
  margin-left: 1%;
  text-align: center;
}

#stacked-logo {
  width: 100%;
  transform: translate(-100vw, 0);
  animation: stackedlogotranslateright 0.05s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#stacked-logo-a-static {
  margin: auto;
  width: 15%;
  margin-top: 1%;
  margin-left: 1%;
  text-align: center;
}

#stacked-logo-static {
  width: 100%;
}

@keyframes stackedlogotranslateright {
  to {
    transform: translate(0, 0);
  }
}

.horizontal-logo-container {
  animation: logotranslateleft .10s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes logotranslateleft {
  to {
    transform: translate(-100vw,0);
  }
}

#background-color {
  width: 0%;
  margin: 5px;
  opacity: 0%;
  filter: blur(100px);
  text-align: center;
  animation: bgcolorexpand .05s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes bgcolorexpand {
  to {
    width: 95%;
    opacity: 100%;
    filter: blur(0px);
  }
}

.tape-piece {
  position: absolute;
}


.tape-container {
  transform: scale(1) translate(100%, 0px);
  animation: movetape 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes movetape {
  to {
    transform: scale(1) translate(-14700px, 0px);
  }
}

.tape-piece {
  cursor: pointer;
}

.tape-container:hover > img:hover {
  filter: invert(1);
}

#seniorshow {
  animation: seniorshow 0.05s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#location {
  animation: location 0.05s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes seniorshow {
  to {
    margin-bottom: -15%;
  }
}

@keyframes location {
  to {
    margin-bottom: -10%;
  }
}




/*-------------------------MEDIA QUERIES-----------------------*/

@media only screen and (max-height: 970px) {
  .tape-container {
      transform: scale(0.95) translate(100%, 0px);
      animation: movetape 1s linear infinite;
      animation-play-state: paused;
      animation-delay: calc(var(--scroll) * -1s);
      animation-iteration-count: 1;
      animation-fill-mode: both;
  }

  @keyframes movetape {
    to {
      transform: scale(0.95) translate(-14700px, 0px);
    }
  }
}

@media only screen and (max-height: 910px) {
  .tape-container {
      transform: scale(0.85) translate(100%, 0px);
      animation: movetape 1s linear infinite;
      animation-play-state: paused;
      animation-delay: calc(var(--scroll) * -1s);
      animation-iteration-count: 1;
      animation-fill-mode: both;
  }

  @keyframes movetape {
    to {
      transform: scale(0.85) translate(-14700px, 0px);
    }
  }
}

@media only screen and (max-height: 870px) {
  .tape-container {
      transform: scale(0.75) translate(150%, 0px);
      animation: movetape 1s linear infinite;
      animation-play-state: paused;
      animation-delay: calc(var(--scroll) * -1s);
      animation-iteration-count: 1;
      animation-fill-mode: both;
  }

  @keyframes movetape {
    to {
      transform: scale(0.75) translate(-14700px, 0px);
    }
  }
}

@media only screen and (max-height: 820px) {
    .tape-container {
      transform: scale(0.7) translate(100%, 0px);
      animation: movetape 1s linear infinite;
      animation-play-state: paused;
      animation-delay: calc(var(--scroll) * -1s);
      animation-iteration-count: 1;
      animation-fill-mode: both;
  }

  @keyframes movetape {
    to {
      transform: scale(0.7) translate(-14700px, 0px);
    }
  }
}

@media only screen and (max-height: 770px) {
  .tape-container {
      transform: scale(0.65) translate(100%, 0px);
      animation: movetape 1s linear infinite;
      animation-play-state: paused;
      animation-delay: calc(var(--scroll) * -1s);
      animation-iteration-count: 1;
      animation-fill-mode: both;
  }

  @keyframes movetape {
    to {
      transform: scale(0.65) translate(-14700px, 0px);
    }
  }
}